# Игнорирование временных файлов созданных текстовыми редакторами
*~
*.swp
*.swo

# Игнорирование скомпилированных файлов
*.pyc
*.pyo
*.pyd

# Игнорирование системных и временных файлов
.DS_Store
Thumbs.db

# Игнорирование папки виртуальной среды
venv/

# Игнорирование логов и отчетов об ошибках
logs/
*.log
*.log.*
*.pid
*.coverage
htmlcov/

# Игнорирование файлов настроек IDE и редакторов
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Игнорирование файлов секретных данных и конфиденциальной информации
secrets.py
config.py
credentials.json

# Игнорирование файлов конфигурации проекта
settings.ini
config.ini

# Игнорирование сгенерированных файлов документации
docs/_build/

# Игнорирование папки с тестовыми данными
testdata/

# Игнорирование файлов сохраненного состояния
stats.pkl

# Игнорирование папк и файлов проекта
train/
test/
venv/
state.pkl